#introduction {
    justify-self: start;
    align-self: start;
    scroll-margin-top: 500px;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4vw;
}

#introduction h1,
#introduction h2,
#introduction p {
    z-index: 100;
    margin: 0;
    text-shadow: 2px 2px 1px rgba(0,0,0,1);
}

#introduction h1 {
    font-size: var(--fs-title);
}

#introduction h2 {
    font-size: var(--fs-subsection-title);
    color: var(--accent);
    margin-bottom: var(--fs-subsection-title);
}

#introduction p {
    padding-bottom: calc(var(--fs-title) * 2);
}

.profile-picture {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    max-width: 100%;
    object-fit: cover;
    box-shadow: inset 33vh 0 300px rgba(0,0,0,1);
    z-index: 0;
}

