@import "header.css";
@import "footer.css";

:root {
    --bg: #000000;
    --bg-secondary: #0C0C0C;
    --primary: #ffffff;
    --secondary: #989898;
    --accent: #7003CA;
    --red: #c30000;

    --fs-title: 3rem;
    --fs-section-title: 2.5rem;
    --fs-subsection-title: 1.8rem;
    --fs-text: 1.1rem;

    --header-height: calc(var(--fs-subsection-title) + (2 * var(--fs-text)) - 1px);
    --main-content-height: 0px;
    --footer-height: 0px;
    --snake-width: 10px;
    --icon-size: calc(var(--fs-text) * 1.5);
}

a:hover {
    color: var(--secondary);
}

@font-face {
    font-family: "Ultrakill";
    src: url("../fonts/ultrakill.ttf") format("truetype");
    font-style: normal;
}

html {
    image-rendering: pixelated;
    scroll-behavior: smooth;
    background-color: var(--bg);
    color: var(--primary);
    font-size: var(--fs-text);
    font-family: "Ultrakill", sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

body h1, body h2, body h3, body a {
    font-weight: normal;
}

.highlighter {
    position: absolute;
    align-self: center;
    left: 0;
    height: calc(var(--fs-text) * 2);
    background: var(--accent);
    transition: all 0.3s ease;
    z-index: -1;
    width: 20px;
}

.main-content {
    z-index: 1;
    max-width: 1100px;
    height: fit-content;
    margin: 0 auto;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: calc(var(--footer-height) - var(--main-content-height) + var(--header-height) * 2);
}

#skills, #experience, #projects, #education, #contacts{
    scroll-margin-top: calc(var(--header-height) * 1.2);
}

.section-1-column, .section-2-column {
    z-index: 100;
    display: flex;
    width: 80%;
    padding: 0 10% var(--fs-subsection-title);
    flex-direction: column;
}

.section-heading {
    font-size: var(--fs-section-title);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--fs-section-title) / 4);
    margin-bottom: calc(var(--fs-section-title) / 2);
}

.section-heading .line-1, .section-heading .line-2 {
    flex: 1;
    height: calc(var(--fs-section-title) / 7);
    background: var(--primary);
}

.section-heading .line-1 {
    flex: none;
    width: 7%;
}

.section-heading .heading-text {
    white-space: nowrap;
}

.section-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding: 0 5%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    gap: calc(var(--fs-subsection-title) * 1.7);
}

.section-1-column .column {
    padding: 0 5%;
}

.subsection {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: min-content;
    justify-content: center;
    padding: calc(var(--fs-subsection-title) * 1.8) var(--fs-subsection-title);
    gap: var(--fs-text);
}

.subsection a h3 {
    padding-bottom: calc(var(--fs-text) / 5);
}

.long-header {
    padding-top: calc(var(--fs-subsection-title) * 2.8)
}

.subsection::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: calc(var(--fs-subsection-title) / 1.2);
    height: calc(var(--fs-subsection-title) / 1.2);

    border-top: calc(var(--fs-section-title) / 7) solid var(--accent);
    border-right: calc(var(--fs-section-title) / 7) solid var(--accent);
}

.subsection::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(var(--fs-subsection-title) / 1.2);
    height: calc(var(--fs-subsection-title) / 1.2);

    border-bottom: calc(var(--fs-section-title) / 7) solid var(--accent);
    border-left: calc(var(--fs-section-title) / 7) solid var(--accent);
}

.subsection-header {
    position: absolute;
    top: calc(var(--fs-subsection-title) / 3);
    left: calc(var(--fs-subsection-title) / 5);
    font-size: var(--fs-subsection-title);
    color: var(--accent);
    margin: 0;
    padding: 0;
}

.subsection p, h3, a {
    font-size: var(--fs-text);
    margin: 0;
}

.subsection p {
    color: var(--secondary);
}

.clickable:hover {
    color: var(--primary);
}