.header {
    position: sticky;
    height: var(--header-height);
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--fs-text) * 1.5);
    background-color: var(--bg-secondary);
}

.header__name {
    color: var(--primary);
    font-size: var(--fs-subsection-title);
    text-decoration: none;
}

.nav-bar {
    display: flex;
    gap: calc(var(--fs-text) * 1.5);
}

.nav-bar a {
    color: var(--primary);
    font-size: var(--fs-text);
    text-decoration: none;
}

.bar-highlighter {
    box-sizing: border-box;
    position: absolute;
    align-self: center;
    right: 0;
    height: calc(var(--fs-text) * 2);
    background: var(--accent);
    transition: all 0.3s ease;
    z-index: -1;
    width: 20px;
}

#burger-toggle {
    position: relative;
    width: calc(var(--icon-size));
    height: calc(var(--icon-size));;
    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon.active {
    opacity: 1;
}

#burger-toggle {
    display: none;
}

@media(max-width: 800px) {
    .nav-bar {
        z-index: 999;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100%;
        background-color: rgb(0,0,0,0.9);
        gap: 0;

        transition: transform 0.3s ease;
    }

    .nav-bar.open {
        transform: translateY(calc(100vh + var(--header-height)));
        padding: calc(var(--fs-text) * 1.5) 0 0;
        border-bottom: calc(var(--fs-section-title) / 7) solid var(--primary);
    }

    .nav-bar a {
        text-align: center;
        height: calc(var(--fs-text) * 3);
    }

    #burger-toggle {
        display: block;
    }

    .bar-highlighter {
        position: absolute;
        left: 0;
        background: transparent;
        height: calc(var(--fs-text) * 2);
        width: 100%;
        transition: top 0.3s ease, height 0.3s ease;
        border: var(--accent) solid calc(var(--fs-section-title) / 7);
    }
}